body{
    margin: 0;
    padding: 0;
    height: 1500px;

}









.hero{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.hero img{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    background-attachment: fixed;
    margin: auto;
    
}
.hero .content{
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;

}

.hero .content h1{
    margin: auto;
    padding: 0;
    font-size: 4.5em;
    text-transform: uppercase;
    color: #fff;
}
.hero .content p{
    font-size: 1.5em;
    color: #fff;
}


.cards{
    top: 0;
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    background-color: #ffffff;
    position: relative;
    align-items: center;
    justify-content: space-around;
    margin: 0 ;
    flex-wrap: wrap;
    padding: 0;
    border: 1px solid rebeccapurple;
}


.card1{
    position: relative;
    width: 250px;
    height: 300px;
   
    background-position: center;
    background-size: cover;
    margin: 0 auto;
   background-color: brown;
    border-radius: 10px;
    margin-top: 10px;
    object-fit: cover;
    transition: 0.7s ease;
    
    
}
.card2{
    position: relative;
    width: 250px;
    height: 300px;
    background-color: brown;
    margin: 0 auto;
    
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.7s ease;
}

.card3{
    position: relative;
    width: 250px;
    height: 300px;
    background-color: brown;
    margin: 0 auto;
    
    border-radius: 10px;
    margin-top: 15px;
    transition: 0.7s ease;
}

.card4{
    position: relative;
    width: 250px;
    height: 300px;
    background-color: brown;
    margin: 0 auto;
    
    border-radius: 10px;
    margin-top: 15px;
    transition: 0.7s ease;
}


.card1:hover{
    transform: scale(1);
}

.card2:hover{
    transform: scale(1);
}

.card3:hover{
    transform: scale(1);
}

.card4:hover{
    transform: scale(1);
}












@media screen and (max-width:700px) {

    .hero .content h1{
        margin: auto;
        padding: auto;
        font-size: 2em;
        text-transform: uppercase;
        color: #fff;
    }
    .hero .content p{
        font-size: 0.8em;
        color: #fff;
        margin: auto;
    }
    



}